.btn{
    background-color: darkslategrey;
    color: white;
    padding: 40px;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
    color: black;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 60px;

}
.score{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}
.display{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 40px;
}